<!DOCTYPE HTML>
<html>

<head>
	<title>The Daily Donut</title>
	<script src="http://discorddonuts.xyz/site/pages/news.js"></script>
	{{> header}}
</head>

<body>
	{{> starter}}
	<h1>The Daily Donut Archive</h1>
	<p>Read ALL Issues of The Daily Donut here!</p>
	{{#each files}}
		<h3>Issue {{this.[1]}}</h3>
		<iframe src="http://discorddonuts.xyz/site/news/{{this.[0]}}">Your browser does not support iframes.</iframe>
	{{/each}}
</body>

</html>