<!DOCTYPE HTML>
<html>

<head>
	<title>404 :(</title>
	{{> header}}
</head>

<body>
	{{> starter}}
	<h1>404 Donuts not found.</h1>
	<p>This page does not exist (yet), please go back.</p>
</body>

</html>