<!DOCTYPE HTML>
<html>

<head>
	<title>Discord Donuts</title>
	<link id="favicon" rel="icon" href="./images/ddicon.png" type="image/x-icon">
	<link rel="stylesheet" type="text/css" href="./style.css">
	<meta name="description" content="A discord bot where you can order donuts and get it delivered to your server!">
	<meta name="og:type" content="website">
	<meta name="og:url" content="">
	<meta name="og:title" content="Discord Donuts: Order donuts, get it delivered!">
	<meta name="og:description" content="Discord donuts is a bot where you can order donuts, and get it delivered to your server! What are you waiting for? Add the bot NOW!">
	<meta property="og:site_name" content="Discord Donuts">
	<meta name="og:image" content="./images/ddicon.png">
	<meta name="twitter:card" content="summary_large_image">
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
	<h1>Discord Donuts</h1>
	<p>asdfghjkl description here</p>
	<h1>Staff</h1>
	<h2>Corporate Officers</h2>
	<ul>
		{{#each staff.corporate}}
		<li><abbr title="{{this.status}}" style="color: {{this.color}}">⬤</abbr> {{this.tag}}</li>
		{{/each}}
	</ul>
</body>

</html>