<!DOCTYPE HTML>
<html>

<head>
	<title>Discord Donuts</title>
	<link rel="stylesheet" type="text/css" href="http://discorddonuts.xyz/site/style.css">
	{{> header}}
</head>

<body>
	{{> starter}}
	
	<h1>Discord Donuts</h1>
	<p>asdfghjkl description here</p>
	<h1>Staff</h1>
	<h2>Corporate Officers</h2>
	<ul>
		{{#each staff.corporate}}
		<li><span class="circle" title="{{this.status}}" style="background-color: {{this.color}}">  </span>  {{this.tag}} {{icon this.device}}</li>
		{{/each}}
	</ul>
</body>

</html>